@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

.bmc-button img{
    height: 34px ;
    width: 35px ;
    margin-bottom: 1px ;
    box-shadow: none ;
    border: none ;
    vertical-align: middle ;
}
.bmc-button{
    padding: 7px 15px 7px 10px;
    line-height: 35px;
    text-decoration: none;
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: 'Lato', sans-serif;
    color: #53ca0b;
    font-weight: bold;
    padding-top: 20px;
}

.coffee-wrapper{
    display: flex;
    justify-content: center;
}


        
    