.about{
    text-align: center;
    width: 100%;
}

.about h2{
    font-size: 2.4em;
    margin-bottom: 0px;
}

.about .tagline{
    font-size: 1.2em;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}

.about h3{
    margin-top: 0px;
    font-size: 1.5em;
}

.work-experience{
    text-align: left;
    padding:0% 10%;
    font-size: 1.2em;
}

.job-title{
    font-weight: bolder;
}
