@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  padding-top:40px;
}

.App{
  background: #0d1a21;
  color:white;
  margin: 0px auto;
  position: relative;
}

.social-links a, .navbar a{
  text-decoration: none;
  color: #24a777;
  cursor: pointer;
}

.social-links a:hover, .navbar a:hover{
  color:#1d8fca;
}

#about{
  background: #8fafa1;
  color: #0d1a21;
  padding-bottom: 100px;
}

#contact{
  background: #1e2b33;
  color: white;
  padding-bottom: 100px;
}

#portfolio{
  color: white;
}



